<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <div class="row footer">
        <div class="col-xs-6 col-md-6 placeholder-footer">
          <h4 style="border-left: 5px solid #62A9FF; padding: 5px;">Team members</h4>
          <p>
            <b>Leader:</b> Nguyễn Hoàng Thi
          </p>
          <p>
            <b>Member:</b> Nguyễn Thị Thanh Thảo
          </p>
          <span class="text-muted">© 2017 - Site built by Precious Team</span></p>
        </div>
        <div class="col-xs-6 col-md-6 placeholder-footer">
          <h4 style="border-left: 5px solid #62A9FF; padding: 5px;">Contact</h4>
          <p>
            <b>Email:</b>
            <a href="mailto:nghoangthi1@gmail.com">nghoangthi1@gmail.com</a>
          </p>
          <p>
            <b>Phone number:</b>
            01284562789
          </p>
          <p>
            <a href="https://www.facebook.com/thikhin96">
              <i class="fa fa-facebook-square fa-3x social" id="social-fb"></i>
            </a>
            <a href="mailto:nghoangthi1@gmail.com">
              <i id="social-em" class="fa fa-envelope-square fa-3x social"></i>
            </a>
          </p>
        </div>
      </div>
    </div>


  </div>
</div>
