<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{tit}}</title>
		<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/font-awesome.css">
		<script language="JavaScript" type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js" charset="utf-8"></script>
		<script language="JavaScript" type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" charset="utf-8"></script>
		<script language="JavaScript" type="text/javascript" src="/components/jquery/dist/jquery.min.js" charset="utf-8"></script>
		<script language="JavaScript" type="text/javascript" src="/components/bootstrap/dist/js/bootstrap.js" charset="utf-8"></script>
	</head>
	<body>
			{{> header}}
		<div class="container-fluid">
			<div class="row">
				{{{body}}}
			</div>
		</div>
		<script type="text/javascript">
				$('#offcanvasleft').click(function(){
  				$('.sidebar').toggleClass('active');
			});
		</script>
	</body>
</html>
