<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar hidden-xs" >
			<ul class="nav nav-sidebar">
				<li><a href="#" style="width: 100%;">Item 1</a></li>
				<li><a href="#">Item 2</a></li>
				<li><a href="#">Item 3</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
				<div class="row">
					{{#each blog}}
					<div class="col-lg-4 col-sm-6 col-xs-12">
						<a href="blog-views/blog1">
							<div class="blog">
								<img src="{{this.avatar}}" alt="blog1" class="set-center">
								<div class="desc">{{this.noidung}}</div>
									<p class="desc1"> <i class="set-center fa fa-eye "></i>{{this.views}}viewers</p>
									<div class="desc1"> Người đăng:{{this.name}}</div>
							</div>
						</a>
					</div>
					{{/each}}
				</div>
		</div>
	</div>
</div>
