<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar hidden-xs" >
			<ul class="nav nav-sidebar">
				<li><a href="#">Item 1</a></li>
				<li><a href="#">Item 2</a></li>
				<li><a href="#">Item 3</a></li>
			</ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<div class="row" >
					<ol class="breadcrumb">
						<li ><a href="/blog">Blog</a></li>
						<li>Blog1</li>
					</ol>
			</div>
			{{body}}
			{{>footer}}
		</div>
	</div>
</div>
